/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* --------------------------------------------------------------------------------------------------- */
body {

    background-color: #e7ecef;
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

div {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: #274c77;
    border-radius: 50%;
    overflow: hidden;
}

div::before {
    position: absolute;
    content: '';
    top: 200px;
    left: 100px;
    width: 400px;
    height: 400px;
    background-color: #a3cef1;
    transform: rotate(45deg);
    -webkit-box-shadow: -102px 150px 0px -7px #6096ba;
    -moz-box-shadow: -102px 150px 0px -7px #6096ba;
    box-shadow: -102px 150px 0px -7px #6096ba;
}

@media (max-width:476px) {
    div {
        width: 200px;
        height: 200px;
    }

    div:before {
        width: 136px;
        height: 180px;
        top: 110px;
        left: 50px;
        -webkit-box-shadow: -40px 60px 0px -7px #6096ba;
        -moz-box-shadow: -40px 60px 0px -7px #6096ba;
        box-shadow: -40px 60px 0px -7px #6096ba;
    }
}