body {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

main h1 {
    color: white;
    font-size: 2em;
    margin: calc(10%/6);
    border-bottom: 1px solid white;
    padding: 10px 0;
}

img {
    width: 30%;
    margin: calc(10%/6);
}